body {
	font-family: monospace;
	background-color: #DDD;
}

h2 {
	text-align: center;
}
/* live page */

a.live_channel {
	background-color: #EEE;
	color: black;
	text-decoration: none;

	text-align: center;

	display: block;
	float: left;
	margin: 15px;
	padding: 5px;
	width: 320px;
}
