-	var head
-	if(!title){
-		title = "leg_bot";
-	}
-	else{
-		title += " - leg_bot";
-	}

head
	meta(charset='utf8')
	link(
		rel='stylesheet'
		href='/static/style.css'
	)
	title!= title
	h1#main_header leg_bot
	a(href='/live') Live

	hr
