- var title = "Awesome channels currently live";
doctype html
html
	include ./header.jade
	body
		p.
			This is a list of twitch channels of the LRR Fanstream Community or otherwise related to LRR that are currently live.
			Channels with a ? after their name might have just ended streaming or twitch is lying about them being offline.
		p This page automaticaly updates every 90 seconds.
		div#live_streams
		script(
			src='/static/live.js'
			type='text/javascript'
		)
	include ./footer.jade
